body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  padding: 20px;
}

h2, h3 {
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  table-layout: fixed;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  word-wrap: break-word;
}

th {
  background-color: #4CAF50;
  color: white;
  font-size: 18px;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

.button, .file-upload-button {
  background-color: #ff5722;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.button:hover, .file-upload-button:hover {
  background-color: #e64a19;
  box-shadow: 0 6px #888;
  transform: translateY(-2px);
}

.button:active, .file-upload-button:active {
  background-color: #d84315;
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}

.form-container {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 12px;
  background-color: #ffffff;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container label {
  display: block;
  margin: 10px 0 5px;
  font-size: 14px;
  color: #555;
}

.form-container input, .form-container select {
  width: 100%;
  padding: 12px;
  margin: 5px 0 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.form-container button {
  width: 100%;
}

.file-upload-container {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 12px;
  background-color: #ffffff;
  max-width: 1000px; /* Increase the max width */
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.file-upload-container input[type="file"] {
  display: none;
}

.file-upload-label {
  background-color: #007bff;
  color: white;
  padding: 15px 32px;
  border-radius: 12px;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 10px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.file-upload-label:hover {
  background-color: #0056b3;
  box-shadow: 0 6px #888;
  transform: translateY(-2px);
}

.file-upload-label:active {
  background-color: #004080;
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}

.file-upload-button {
  margin-top: 10px;
}

.schedule-container {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.parsed-table-container {
  max-height: 400px;
  overflow-y: auto;
  margin-top: 20px;
}



